.single {
  padding: 30px 0 50px 0;
}

.single-all {
  display: flex;
  gap: 30px;
}

.single-left {
  width: 50%;
  overflow: hidden;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
}

.single-right {
  width: 50%;
}

.mySwiper img {
  width: 100%;
}

.single-title {
  font-size: 40px;
  font-weight: 500;
  max-width: 500px;
}

.single-category {
  padding-top: 30px;
  color: grey;
  font-size: 17px;
}

.single-right-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.single-right-media p {
  color: grey;
  font-size: 17px;
}

.single-right-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.single-right-icons svg {
  color: white;
  background-color: rgba(229, 229, 229, 1);
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.single-nalichiy {
  color: rgba(77, 147, 44, 1);
  font-weight: 600;
  padding-top: 10px;
}

.single-right-price {
  display: flex;
  align-items: end;
  gap: 10px;
  padding-top: 10px;
}

.single-price {
  font-size: 35px;
  font-weight: 600;
}

.single-oldprice {
  font-weight: 600;
  color: grey;
  padding-bottom: 7px;
}

.single-description {
  color: rgba(76, 76, 76, 1);
  font-weight: 500;
  padding-top: 10px;
}

.single-right-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
}

.single-right-btn1 {
  display: flex;
  align-items: center;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  gap: 3px;
}

.single-right-btn1 button {
  width: 45px;
  height: 45px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.single-right-btn1 p {
  font-weight: 600;
}

.single-add {
  border: none;
  background-color: rgba(69, 69, 69, 1);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  font-size: 16px;
  height: 45px;
  width: 140px;
  cursor: pointer;
}

.single-heart {
  background-color: rgba(248, 248, 248, 1);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.single-xar {
  padding-top: 40px;
}

.single-xar h1 {
  padding-bottom: 20px;
}

.single-table {
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  overflow: hidden;
}

.single-table-1,
.single-table-1-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.single-table-2,
.single-table-2-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background-color: rgba(248, 248, 248, 1);
}

.single-table-2 p,
.single-table-1 p {
  max-width: 450px;
}

.single-table-p {
  text-align: end;
}

@media (max-width: 760px) {
  .single-all {
    flex-direction: column;
  }
  .single-left {
    width: 100%;
  }
  .single-right {
    width: 100%;
  }
  .single-title {
    max-width: 561px;
  }
}

@media (max-width: 580px) {
  .single-table-1-2,
  .single-table-2-2 {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
  .single-table-1-2 p,
  .single-table-2-2 p {
    text-align: start;
  }
}
