.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: transparent;
  padding: 0 0 20px 0;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-left {
  width: 50%;
}

.banner-left h1 {
  max-width: 588px;
  font-size: 64px;
  color: rgba(69, 69, 69, 1);
}

.banner-left span {
  background-color: rgba(69, 69, 69, 1);
  color: white;
  padding: 0 30px 6px 30px;
  border-radius: 60px;
  font-size: 60px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 188% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background: rgba(69, 69, 69, 1) !important;
  width: 10px;
  height: 10px;
}
